/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-checkbox.mat-mdc-checkbox.mat-accent{
  --mdc-checkbox-selected-focus-icon-color: rgb(253, 166, 38)!important;
  --mdc-checkbox-selected-hover-icon-color: rgb(253, 166, 38)!important;
  --mdc-checkbox-selected-icon-color: rgb(253, 166, 38)!important;
  --mdc-checkbox-selected-pressed-icon-color: rgb(253, 166, 38)!important;
}
mat-checkbox{
  user-select: none;
}
